<div class="wrapper">
  <%= render "shared/third-header" %>
  <%= form_with model: @user, url: registration_path(resource_name), class: 'registration-main', autocomplete: 'off', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        ユーザー編集
      </h1>
    </div>
  
    <%# インスタンスを渡して、エラー発生時にメッセージが表示%>
    <%= render 'shared/error_messages', model: f.object %>
  
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
      <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) ToDo政宗", maxlength:"40" , autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autocomplete: 'off' %>
      <br><p class='info-text'>以下の項目からは任意となります。<br>登録内容はプロフィールページに表示されます。</p>
    </div>
    
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">お名前(全角)</label>
        <span class="indispensable">(任意)</span>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :first_name, class:"input-name", id:"last-name", placeholder:"例) 仙台" %>
        <%= f.text_area :last_name, class:"input-name", id:"first-name", placeholder:"例) 四郎" %>
      </div>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">部署/店舗/チームなど</label>
        <span class="indispensable">(任意)</span>
      </div>
      <%= f.text_area :department, class:"input-default", id:"department", placeholder:"例) 人事グループ/宮城店", maxlength:"40" , autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">役職/担当/資格など</label>
        <span class="indispensable">(任意)</span>
      </div>
      <%= f.text_area :position, class:"input-default", id:"position", placeholder:"例) 店長/生鮮担当/薬剤師", maxlength:"40" , autofocus: true %>
    </div>
    <br><br>
    <div class='register-btn'>
      <%= f.submit "内容を更新する" ,class:"register-btn-action" %>
    </div>
  </div>
  <% end %>
</div>
<%= render "shared/footer" %>