<div class="wrapper">
  <%= render "shared/third-header" %>
  <div class="edit-wrap">
  <div class='form-wrap-edit'>
    <div class='form-header'>
      <h1 class='form-header-text-edit'>
        <%= "#{@user.nickname}のプロフィール" %>
      </h1>
    </div>
  
    <div class="form-group-edit">
      <div class='form-text-wrap-edit'>
        <label class="form-text-edit">ニックネーム</label>
      </div>
      <span class="text-content"><%= @user.nickname %></span>
    </div>
    <div class="form-group-edit">
      <div class='form-text-wrap-edit'>
        <label class="form-text-edit">お名前</label>
      </div>
      <% if @user.first_name.blank? && @user.last_name.blank? %>
      <span class="text-content"><%= '-未登録-' %></span>
      <% else %>
      <span class="text-content"><%= @user.first_name %></span>
      <span class="text-content"><%= @user.last_name %></span>
      <% end %>
    </div>
    <div class="form-group-edit">
      <div class='form-text-wrap-edit'>
        <label class="form-text-edit">部署/店舗/チームなど</label>
      </div>
      <% if @user.first_name.blank? && @user.last_name.blank? %>
      <span class="text-content"><%= '-未登録-' %></span>
      <% else %>
      <span class="text-content"><%= @user.department %></span>
      <% end %>
    </div>
    <div class="form-group-edit">
      <div class='form-text-wrap-edit'>
        <label class="form-text-edit">役職/担当/資格など</label>
      </div>
      <% if @user.first_name.blank? && @user.last_name.blank? %>
      <span class="text-content"><%= '-未登録-' %></span>
      <% else %>
      <span class="text-content"><%= @user.position %></span>
      <% end %>
    </div>
    <br><br>
  </div>
  
    <% if current_user.id == @user.id %>
      <div class="btn_registration" id="btn_registration">
        <%= link_to "編集する", edit_user_registration_path, class: 'btn_registration' %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="btn_registration" id="btn_registration">
        <%= link_to "マイページに戻る",  mylists_path, class: 'btn_registration' %>
      </div>
      <div class="btn_registration" id="btn_registration">
        <%= link_to "ルームページに戻る",  rooms_path, class: 'btn_registration' %>
      </div>
    <% end %>
    <%# if ログイン中のユーザーに紐づくルームidを持っている %>
      <%#<div class="btn_registration" id="btn_registration">
        <%= link_to "ルームに戻る", '#', class: 'btn_registration' %>
      <%#</div>
    <% end %>
  </div>
  
</div>
<%= render "shared/second-footer" %>