<div class="wrapper">
  <%= render "shared/fifth-header" %>
  <div class="page-title-show">ToDo詳細</div>
  <%# メッセージ%>
  <div class="flash-index"><%= flash[:notice] %></div>
  <div class="main-contents-comment">
      <div class="article-show" id="article-list">
          <p class="article-post-date-show">
            <span class="show-title">日時</span><br><%= @grouplist.start_time.strftime("%Y年%m月%d日 %H:%M")%>
          </p>
          <p class="article-title-show">
            <span class="show-title">タイトル</span><br><%= @grouplist.title%>
          </p>
          <% if @grouplist.text.present? %>
          <p class="article-text-show">
            <span class="show-title">内容</span><br><%= @grouplist.text%>
          </p>
          <% else %>
          <p class="article-text-show">
            <span class="show-title">内容</span><br><%= "(投稿なし)"%>
          </p>
          <% end %>
          <p class="article-text-show">
            <span class="show-title">投稿者</span><br><%= link_to "#{@grouplist.user.nickname}さん",  user_path(@grouplist.user_id)%>
          </p>
           
          <div class="article-information-show">
            <div class="article-check-show">
              <% if @grouplist.image.present? %>
              <div class="image-title">画像</div>
                <%= link_to @grouplist.image, "data-lightbox" => @grouplist.image do %>
                  <%= image_tag @grouplist.image.variant(resize_to_fill: [800, 500]), class: "article-image-show", height: '250', :style=>"width:300;"%>
                <% end %>
              <% else %>
              <div class="image-title">画像</div>
              <div class="no-image-show">noimege</div>
              <% end %>
              <div class="flex-btn">
                <div class="article-edit-button-show" id="edit" data=<%= @grouplist.id %>>
                  <%= link_to "編集", edit_room_grouplist_path(@room.id, @grouplist.id)%>
                </div>
                <div class="article-check-button-show" id="hidden-btn" data=<%= @grouplist.id %>>
                <%= link_to "完了", room_grouplist_path(@room.id, @grouplist.id), method: :delete, data: { confirm: 'タスク完了(削除)しますか？'}%>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="comment-title"><%= "「#{@grouplist.title}」へのコメント"%></div>
  <div class="flash-index"><%= flash.now[:alert] %></div>
  <div class="comments-field">
    <div class="room-list-comment">
      <div class="room-list-supplement">(更新日時順)</div>
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <div class="room-comment">
            <div class="room-text">
              <%= comment.text%>
            </div>
            <div class="room-nickname-comment">
              <% if current_user.id == comment.user.id %>
                <%= link_to "編集(#{current_user.nickname})", edit_room_grouplist_comment_path(@room.id, @grouplist.id, comment.id)%>
              <% else %>
                <%= "投稿者：#{comment.user.nickname}さん" %>
              <% end %>
            </div>
            <div class="room-date-comment">
              <%= l comment.created_at %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="not-comment-text">現在コメントはありません</p>
      <% end %>
    </div>
  </div>
  <div class="btn_registration" id="btn_registration">
    <%= link_to "ルームページに戻る",  room_grouplists_path(@room.id), class: 'btn_registration' %>
  </div>
</div> 
<div class="comment-room-wrapper">
<%= form_with model: [@room, @grouplist, @comment], local: true do |f| %>
  <div class="comment-flex">
    <div class="article-post-comment">
      <label for="text">コメント</label><br>
      <%= f.text_area :text, class:"title-content-comment", placeholder:"（200文字まで)", maxlength:"200"%>
    </div>
    <div class="register-field-comment">
      <%= f.submit class: "register-btn-comment", value: "POST" %>
    </div>
  </div>  
<% end %>
</div> 
